https://towardsdatascience.com/natural-language-understanding-with-sequence-to-sequence-models-e87d41ad258b

In [12]:
import pickle
import os
import numpy as np
import pandas as pd
import tensorflow as tf

In [4]:
DATA_DIR = '.'

def load_ds(filename = os.path.join(DATA_DIR,'/test.pkl'),verbose = False):
  with open(filename,'rb') as stream:
    ds,dicts = pickle.load(stream)
  if verbose:
      print('Done  loading: ', filename)
      print('      samples: {:4d}'.format(len(ds['query'])))
      print('   vocab_size: {:4d}'.format(len(dicts['token_ids'])))
      print('   slot count: {:4d}'.format(len(dicts['slot_ids'])))
      print(' intent count: {:4d}'.format(len(dicts['intent_ids'])))
  return ds,dicts

In [5]:
# convert Pickle file to arrays
def load_atis(filename, add_start_end_token=False, verbose=True):
    train_ds, dicts = load_ds(os.path.join(DATA_DIR,filename), verbose)
    t2i, s2i, in2i = map(dicts.get, ['token_ids', 'slot_ids','intent_ids'])
    i2t, i2s, i2in = map(lambda d: {d[k]:k for k in d.keys()}, [t2i,s2i,in2i])
    query, slots, intent =  map(train_ds.get, ['query', 'slot_labels', 'intent_labels'])

    if add_start_end_token:
        i2s[178] = 'BOS'
        i2s[179] = 'EOS'
        s2i['BOS'] = 178
        s2i['EOS'] = 179

    input_tensor = []
    target_tensor = []
    query_data = []
    intent_data = []
    slot_data = []
    to_show = np.random.randint(0, len(query)-1, 5)
    for i in range(len(query)):
        input_tensor.append(query[i])
        slot_text = []
        slot_vector = []
        for j in range(len(query[i])):
            slot_text.append(i2s[slots[i][j]])
            slot_vector.append(slots[i][j])
        if add_start_end_token:
            slot_text[0] = 'BOS'
            slot_vector[0] = 178
            slot_text[-1] = 'EOS'
            slot_vector[-1]= 179
        target_tensor.append(slot_vector)
        q = ' '.join(map(i2t.get, query[i]))
        query_data.append(q.replace('BOS', '').replace('EOS',''))
        intent_data.append(i2in[intent[i][0]])
        slot = ' '.join(slot_text)
        slot_data.append(slot[1:-1])
        if i in to_show and verbose:
          print('Query text:', q)
          print('Query vector: ', query[i])
          print('Intent label: ', i2in[intent[i][0]])
          print('Slot text: ', slot)
          print('Slot vector: ', slot_vector)
          print('*'*74)
    query_data = np.array(query_data)
    intent_data = np.array(intent_data)
    slot_data = np.array(slot_data)
    intent_data_label = np.array(intent).flatten()
    return t2i, s2i, in2i, i2t, i2s, i2in, input_tensor, target_tensor, query_data, intent_data, intent_data_label, slot_data

In [6]:
# load ATIS training dataset
t2i_train, s2i_train, in2i_train, i2t_train, i2s_train, i2in_train, \
input_tensor_train, target_tensor_train, \
query_data_train, intent_data_train, intent_data_label_train, slot_data_train = load_atis('atis.train.pkl')

# load ATIS testing dataset
t2i_test, s2i_test, in2i_test, i2t_test, i2s_test, i2in_test, \
input_tensor_test, target_tensor_test, \
query_data_test, intent_data_test, intent_data_label_test, slot_data_test = load_atis('atis.test.pkl')

Done  loading:  ./atis.train.pkl
      samples: 4978
   vocab_size:  943
   slot count:  129
 intent count:   26
Query text: BOS all flights from boston to washington dc on november tenth EOS
Query vector:  [178 207 429 444 266 851 905 344 654 636 821 179]
Intent label:  flight
Slot text:  O O O O B-fromloc.city_name O B-toloc.city_name B-toloc.state_code O B-depart_date.month_name B-depart_date.day_number O
Slot vector:  [128, 128, 128, 128, 48, 128, 78, 80, 128, 28, 27, 128]
**************************************************************************
Query text: BOS please show me airlines with flights from denver to boston with a stopover in philadelphia EOS
Query vector:  [178 688 770 581 200 925 429 444 351 851 266 925 180 798 482 678 179]
Intent label:  airline
Slot text:  O O O O O O O O B-fromloc.city_name O B-toloc.city_name O O O O B-stoploc.city_name O
Slot vector:  [128, 128, 128, 128, 128, 128, 128, 128, 48, 128, 78, 128, 128, 128, 128, 71, 128]
**************************************************************************
Query text: BOS what flights are there from new york city to las vegas EOS
Query vector:  [178 916 429 228 831 444 619 937 301 851 527 897 179]
Intent label:  flight
Slot text:  O O O O O O B-fromloc.city_name I-fromloc.city_name I-fromloc.city_name O B-toloc.city_name I-toloc.city_name O
Slot vector:  [128, 128, 128, 128, 128, 128, 48, 110, 110, 128, 78, 125, 128]
**************************************************************************
Query text: BOS what are the flights on tuesday october first from atlanta to baltimore EOS
Query vector:  [178 916 228 827 429 654 874 645 425 444 242 851 247 179]
Intent label:  flight
Slot text:  O O O O O O B-depart_date.day_name B-depart_date.month_name B-class_type O B-fromloc.city_name O B-toloc.city_name O
Slot vector:  [128, 128, 128, 128, 128, 128, 26, 28, 18, 128, 48, 128, 78, 128]
**************************************************************************
Query text: BOS which is the flight number for the us air flight from philadelphia to boston is it 279 or is it 137338 EOS
Query vector:  [178 920 498 827 428 638 435 827 889 195 428 444 678 851 266 498 499  83
 662 498 499  48 179]
Intent label:  flight_no
Slot text:  O O O O O O O O B-airline_name I-airline_name O O B-fromloc.city_name O B-toloc.city_name O O B-flight_number B-or O O B-flight_number O
Slot vector:  [128, 128, 128, 128, 128, 128, 128, 128, 2, 83, 128, 128, 48, 128, 78, 128, 128, 43, 56, 128, 128, 43, 128]
**************************************************************************
Done  loading:  ./atis.test.pkl
      samples:  893
   vocab_size:  943
   slot count:  129
 intent count:   26
Query text: BOS list the flights from westchester county to cincinnati on june eighth EOS
Query vector:  [178 549 827 429 444 915 330 851 299 654 508 394 179]
Intent label:  flight
Slot text:  O O O O O B-fromloc.city_name I-fromloc.city_name O B-toloc.city_name O B-depart_date.month_name B-depart_date.day_number O
Slot vector:  [128, 128, 128, 128, 128, 48, 110, 128, 78, 128, 28, 27, 128]
**************************************************************************
Query text: BOS how far is san francisco international from downtown EOS
Query vector:  [178 477 413 498 739 440 496 444 380 179]
Intent label:  distance
Slot text:  O O O O B-airport_name I-airport_name I-airport_name O O O
Slot vector:  [128, 128, 128, 128, 4, 84, 84, 128, 128, 128]
**************************************************************************
Query text: BOS i 'll need to rent a car in washington dc EOS
Query vector:  [178 479   2 617 851 715 180 287 482 905 344 179]
Intent label:  ground_service
Slot text:  O O O O O O O B-transport_type O B-city_name B-state_code O
Slot vector:  [128, 128, 128, 128, 128, 128, 128, 82, 128, 17, 67, 128]
**************************************************************************
Query text: BOS how many northwest flights leave washington dc EOS
Query vector:  [178 477 575 634 429 537 905 344 179]
Intent label:  flight
Slot text:  O O O B-airline_name O O B-fromloc.city_name B-fromloc.state_code O
Slot vector:  [128, 128, 128, 2, 128, 128, 48, 49, 128]
**************************************************************************
Query text: BOS find flight from cincinnati to san jose on monday EOS
Query vector:  [178 423 428 444 299 851 739 506 654 601 179]
Intent label:  flight
Slot text:  O O O O B-fromloc.city_name O B-toloc.city_name I-toloc.city_name O B-depart_date.day_name O
Slot vector:  [128, 128, 128, 128, 48, 128, 78, 125, 128, 26, 128]
**************************************************************************

In [7]:
pd.set_option('display.max_colwidth', -1)
df = pd.DataFrame({'query': query_data_train, 'intent': intent_data_train, 'slot filling': slot_data_train})

df_small = pd.DataFrame(columns=['query','intent','slot filling'])
j = 0
for i in df.intent.unique():
  df_small.loc[j] = df[df.intent==i].iloc[0]
  j = j+1
  
df_small

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  """Entry point for launching an IPython kernel.

                                                                                                                                                                     query  ...                                                                                                                                                                                               slot filling
0    i want to fly from boston at 838 am and arrive in denver at 1110 in the morning                                                                                        ...   O O O O O B-fromloc.city_name O B-depart_time.time I-depart_time.time O O O B-toloc.city_name O B-arrive_time.time O O B-arrive_time.period_of_day
1    what is the arrival time in san francisco for the 755 am flight leaving washington                                                                                     ...   O O O B-flight_time I-flight_time O B-fromloc.city_name I-fromloc.city_name O O B-depart_time.time I-depart_time.time O O B-fromloc.city_name
2    cheapest airfare from tacoma to orlando                                                                                                                                ...   B-cost_relative O O B-fromloc.city_name O B-toloc.city_name
3    what kind of aircraft is used on a flight from cleveland to dallas                                                                                                     ...   O O O O O O O O O O B-fromloc.city_name O B-toloc.city_name
4    what kind of ground transportation is available in denver                                                                                                              ...   O O O O O O O O B-city_name
5    what 's the airport at orlando                                                                                                                                         ...   O O O O O B-city_name
6    which airline serves denver pittsburgh and atlanta                                                                                                                     ...   O O O B-fromloc.city_name B-fromloc.city_name O B-fromloc.city_name
7    how far is it from orlando airport to orlando                                                                                                                          ...   O O O O O B-fromloc.airport_name I-fromloc.airport_name O B-toloc.city_name
8    what is fare code h                                                                                                                                                    ...   O O O O B-fare_basis_code
9    how much does the limousine service cost within pittsburgh                                                                                                             ...   O O O O B-transport_type O O O B-city_name
10   please tell me how many nonstop flights there are from boston to atlanta                                                                                               ...   O O O O O B-flight_stop O O O O B-fromloc.city_name O B-toloc.city_name
11   what city is the airport mco in                                                                                                                                        ...   O O O O O B-fromloc.airport_code O
12   flight numbers from columbus to minneapolis tomorrow                                                                                                                   ...   O O O B-fromloc.city_name O B-toloc.city_name B-depart_date.today_relative
13   how many seats in a 100                                                                                                                                                ...   O O O O O B-aircraft_code
14   give me the flights and fares on december twenty seventh from indianapolis to orlando                                                                                  ...   O O O O O O O B-depart_date.month_name B-depart_date.day_number I-depart_date.day_number O B-fromloc.city_name O B-toloc.city_name
15   show me all meals on flights from atlanta to washington                                                                                                                ...   O O O B-meal O O O B-fromloc.city_name O B-toloc.city_name
16   what are the air restrictions on flights from pittsburgh to atlanta for the airfare of 416 dollars                                                                     ...   O O O O O O O O B-fromloc.city_name O B-toloc.city_name O O O O B-fare_amount I-fare_amount
17   airline and flight number from columbus to minneapolis                                                                                                                 ...   O O O O O B-fromloc.city_name O B-toloc.city_name
18   what ground transportation is available from the pittsburgh airport to downtown and how much does it cost                                                              ...   O O O O O O O B-fromloc.airport_name I-fromloc.airport_name O O O O O O O O
19   show me the costs and times for flights from san francisco to atlanta                                                                                                  ...   O O O O O B-flight_time O O O B-fromloc.city_name I-fromloc.city_name O B-toloc.city_name
20   show me the cheapest fare in the database                                                                                                                              ...   O O O B-cost_relative O O O O
21   i want to fly from detroit to st. petersburg on northwest airlines and leave around 9 am tell me what aircraft are used by this flight and tell me the flight number   ...   O O O O O B-fromloc.city_name O B-toloc.city_name I-toloc.city_name O B-airline_name I-airline_name O O B-depart_time.time_relative B-depart_time.time I-depart_time.time O O O O O O O O O O O O O O O

[22 rows x 3 columns]

In [9]:
i2s_train_values = list(i2s_train.values())
df3 = pd.DataFrame()
for i in range(7):
  df3[str(i)] = i2s_train_values[i*15:(i+1)*15]
df3

                               0  ...                             6
0   B-aircraft_code               ...  I-arrive_time.time_relative
1   B-airline_code                ...  I-city_name
2   B-airline_name                ...  I-class_type
3   B-airport_code                ...  I-cost_relative
4   B-airport_name                ...  I-depart_date.day_name
5   B-arrive_date.date_relative   ...  I-depart_date.day_number
6   B-arrive_date.day_name        ...  I-depart_date.today_relative
7   B-arrive_date.day_number      ...  I-depart_time.end_time
8   B-arrive_date.month_name      ...  I-depart_time.period_of_day
9   B-arrive_date.today_relative  ...  I-depart_time.start_time
10  B-arrive_time.end_time        ...  I-depart_time.time
11  B-arrive_time.period_mod      ...  I-depart_time.time_relative
12  B-arrive_time.period_of_day   ...  I-economy
13  B-arrive_time.start_time      ...  I-fare_amount
14  B-arrive_time.time            ...  I-fare_basis_code

[15 rows x 7 columns]

In [15]:
def max_length(tensor):
    return max(len(t) for t in tensor)

# Helper function to pad the query tensor and slot (target) tensor to the same length. 
# Also creates a tensor for teacher forcing.
def create_tensors(input_tensor, target_tensor, nb_sample=9999999, max_len=0):
    len_input, len_target  = max_length(input_tensor), max_length(target_tensor)
    len_input = max(len_input,max_len)
    len_target = max(len_target,max_len)
    

    # Padding the input and output tensor to the maximum length
    input_data = tf.keras.preprocessing.sequence.pad_sequences(input_tensor, 
                                                                 maxlen=len_input,
                                                                 padding='post')

    teacher_data = tf.keras.preprocessing.sequence.pad_sequences(target_tensor, 
                                                                  maxlen=len_target , 
                                                                  padding='post')
    
    target_data = [[teacher_data[n][i+1] for i in range(len(teacher_data[n])-1)] for n in range(len(teacher_data))]
    target_data = tf.keras.preprocessing.sequence.pad_sequences(target_data, maxlen=len_target, padding="post")
    target_data = target_data.reshape((target_data.shape[0], target_data.shape[1], 1))
    
    nb = len(input_data)
    p = np.random.permutation(nb)
    input_data = input_data[p]
    teacher_data = teacher_data[p]
    target_data = target_data[p]

    return input_data[:min(nb_sample, nb)], teacher_data[:min(nb_sample, nb)], target_data[:min(nb_sample, nb)],len_input, len_target 
           
input_data_train, teacher_data_train, target_data_train, \
                  len_input_train, len_target_train  = create_tensors(input_tensor_train, target_tensor_train)
input_data_test, teacher_data_test, target_data_test, \
                 len_input_test, len_target_test  = create_tensors(input_tensor_test, target_tensor_test, max_len=len_input_train)

In [16]:
def get_vocab_size(t2i_train, t2i_test, s2i_train, s2i_test):
    vocab_in_size = len({**t2i_train, **t2i_test})
    vocab_out_size = len({**s2i_train, **s2i_test})
    return vocab_in_size, vocab_out_size
  
vocab_in_size, vocab_out_size = get_vocab_size(t2i_train, t2i_test, s2i_train, s2i_test)
vocab_in_size, vocab_out_size

(943, 129)